@import 'normalize.css';
@import './variables.css';

// 移动端项目
// 设计尺寸：375 414 750 1125 ...
html {
  // 视口宽度度375rem
  font-size: calc(100vw / 375);
}

body {
  font: 12px 'Microsoft YaHei';
  color: var(--primary-color);
}

// 重置a的样式
a {
  text-decoration: none;
  color: inherit;
  // 取消点击后的高亮显示
  -webkit-tap-highlight-color: transparent;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
  vertical-align: middle;
}
